# VCS
.git
.gitignore
.gitattributes

# IDEs
.vs/
.vscode/
.idea/

# Usuario/VS
*.suo
*.user
*.rsuser
*.userosscache
*.sln.docstates

# Build .NET
bin/
obj/
**/bin/
**/obj/
artifacts/
TestResult*/
*.log
*.binlog
*.pdb
*.ipdb
*.coverage
*.coveragexml
BenchmarkDotNet.Artifacts/

# Paquetes
*.nupkg
*.snupkg
**/packages/
!**/packages/build/

# Node (si hay front)
node_modules/
npm-debug.log
yarn-error.log
.pnpm-store/

# Docker
# NO ignores el Dockerfile que uses para el build
# docker-compose archivos no son necesarios dentro del contexto de build (opcional)
docker-compose*
.dockerignore

# Certs/secretos
*.pfx
*.p12
*.pem
*.key
*.cer
*.crt
.env
.env.*
!.env.example

# Credenciales Firebase/GCP (ajusta nombres reales)
*.serviceAccount*.json
*firebase*.json
*credentials*.json
*.key.json
*.gcloud.json

# AzDO/Helm/K8s dev
azds.yaml
charts/
secrets.dev.yaml
values.dev.yaml

# Publicaciones locales
publish/
publishProfiles/

# Salidas/Uploads de la app (ajusta a tu caso)
wwwroot/uploads/
wwwroot/media/
wwwroot/videos/
wwwroot/images/

# Miscelánea
*.jfm
*.dbmdl
*.cache
